* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;

    background-color: #f8f8f8;
}

header {
    text-align: center;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-left: 300px;
    padding-right: 300px;
}

header h1 {
    margin-bottom: 0.5em;
    font-size: 3em;
    text-align: left;
}

header div {
    display: flex;
}

a {
    font-size: 1.5em;
    color: #ffffff; /* Par défaut, blanc */
    text-decoration: none;
}

header img {
    width: 200px;
    height: auto;
}

header p {
    color: #666;
    font-size: 1.2em;
    margin: 1.5em;
}

header button {
    padding: 0.75em 1.5em;
    font-size: 1em;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: solid 1px #000000;
}

header button:hover {
    background-color: #ffffff;
    transition: 0.5s;
}

header button:hover a {
    color: #000000; /* Changer la couleur du texte du lien en noir */
}

.feature {
    text-align: center;
    padding: 2em;
    background-color: #ffffff;
    padding-left: 300px;
    padding-right: 300px;

}

#projects, #features{
    background-color: aliceblue;
}

.feature h2 {
    margin-bottom: 0.5em;
    font-size: 2em;
}

.feature p {
    margin-bottom: 1.5em;
    color: #666;
}

.feature img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

footer button {
    padding: 0.75em 1.5em;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer button:hover {
    background-color: #0056b3;
}

p {
    font-size: 1.5em;
}
